.navigation {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 20px;
    text-align: left;
    background-color: #cacaca;
}

.navlinkcurrent {
    color: black;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 4px;
    padding-right: 20px;
    padding-left: 20px
}

.title, .maintext {
    color: #000000;
}

.gallery {
    width: 500px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000;
}

.gallery:hover{
    border: 15px solid #000000;
}

body {
    background-image: url("../images/background.jpg");
    height: max-content;
    background-repeat: repeat;
    flex-direction: column;
}

body {
    font-family: 'Space Mono', monospace;
}

main {
    padding:30px;
}

footer {
    text-align: center;
    color: #000000;
    background-color: #cacaca;
    padding: 30px;
}

.grid-container-home {
    display: grid;
    grid-template-rows: 2fr 8fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.grid-container-about {
    display: grid;
    grid-template-rows: 2fr 30fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.grid-container-p1 {
    display: grid;
    grid-template-rows: 2fr 25fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.grid-container-p2 {
    display: grid;
    grid-template-rows: 2fr 40fr 1fr 1fr;
    grid-template-columns: 1fr;
}


header{
    align-self: stretch;
}

.navigation {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main{
    grid-row: 2;
}
.gallery1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation-name: fadein;
    animation-duration: 4s;
}

.indexpicture{
    width: 70%;
}

aside {
    grid-row: 3;
    justify-content: center;
    text-align: center;
    color: #000000;
    background-color: #e6e6e6;
    padding: 10px;
}

footer{
    grid-row: 4;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
  }

@media screen and (prefers-reduced-motion: reduce){

    .gallery1 {
      animation: none;
    }
}

@media screen and (min-width: 750px) {

    .grid-container-home {
        display: grid;
        grid-template-rows: 1fr 10fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .grid-container-about {
        display: grid;
        grid-template-rows: 1fr 20fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .grid-container-p1 {
        display: grid;
        grid-template-rows: 1fr 18fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .grid-container-p2 {
        display: grid;
        grid-template-rows: 1fr 22fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .navigation {
        grid-row: 1;
        flex-flow:row nowrap;
        justify-content: left;
    }

    .gallery1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    main{
        grid-row: 2;
        justify-content: center;
    }

    aside {
        grid-row: 3;
        justify-content: center;
    }

    footer {
        grid-row: 4;
    }
}